@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none;
  text-decoration: none; }

body, html {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 62%; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1rem; }

p, li, a, i, span {
  font-size: 1.6rem; }

.container {
  max-width: 112rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem; }

.text-center {
  text-align: center; }

.d-grid {
  display: grid; }

.js-c {
  justify-content: center; }

.align-center {
  align-items: center; }

.align-content-center {
  align-content: center; }

.js-sb {
  justify-content: space-between; }

.js-sa {
  justify-content: space-around; }

.js-se {
  justify-content: space-evenly; }

.d-flex {
  display: flex; }

.flex-d-row {
  flex-direction: row; }

.flex-d-column {
  flex-direction: column; }

.flex-d-row-r {
  flex-direction: row-reverse; }

.flex-d-column-r {
  flex-direction: column-reverse; }

.mobile-icon {
  cursor: pointer;
  position: relative;
  width: 3rem;
  height: 0.34rem;
  background: #07001d; }
  .mobile-icon::before, .mobile-icon::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #07001d;
    transition: all 0.5s ease-in-out; }
  .mobile-icon::before {
    transform: translateY(-1rem); }
  .mobile-icon::after {
    transform: translateY(1rem); }
  .mobile-icon.active {
    background: transparent; }
    .mobile-icon.active::before {
      transform: rotate(45deg); }
    .mobile-icon.active::after {
      transform: rotate(-45deg); }

.heading {
  margin: 2rem 0;
  text-transform: uppercase;
  position: relative;
  padding: 0.5rem 0; }
  .heading::before {
    position: absolute;
    content: '';
    left: 50%;
    width: 3rem;
    height: 0.4rem;
    z-index: 10;
    background: #5363f7;
    bottom: -0.1rem;
    transform: translateX(-50%);
    border-radius: 1rem; }
  .heading::after {
    position: absolute;
    content: '';
    left: 50%;
    width: 13rem;
    height: 0.1rem;
    background: #07001d;
    bottom: 0;
    transform: translateX(-50%); }

.social-media {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  gap: .5rem;
  flex-wrap: wrap; }
  .social-media a i {
    font-size: 1.8rem;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    background: white;
    border-radius: 50%;
    color: #5363f7;
    margin-top: 0.2rem;
    border: 0.1rem solid #5363f7;
    transition: all 0.5s ease-in; }
    .social-media a i:hover {
      background: #5363f7;
      color: white; }

.btn-primary-hire {
  display: inline-block;
  color: white;
  background: #5363f7;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem; }

.progress {
  left: 0;
  width: 0;
  position: absolute;
  left: 0;
  background: #5363f7;
  width: 0;
  height: 100%;
  transform-origin: left;
  border-radius: 1rem;
  transition: all 3s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out; }

.logo {
  color: transparent;
  -webkit-text-stroke-width: 0.1rem;
  -moz-text-stroke-width: 0.1rem;
  -ms-text-stroke-width: 0.1rem;
  -o-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #07001d;
  -moz-text-stroke-color: #07001d;
  -ms-text-stroke-color: #07001d;
  -o-text-stroke-color: #07001d; }
  .logo .logo-art {
    font-size: 3rem;
    -webkit-text-stroke-color: #5363f7;
    -moz-text-stroke-color: #5363f7;
    -ms-text-stroke-color: #5363f7;
    -o-text-stroke-color: #5363f7;
    -webkit-text-fill-color: #5363f7;
    -moz-text-fill-color: #5363f7;
    -ms-text-fill-color: #5363f7;
    -o-text-fill-color: #5363f7; }

header {
  height: 6rem;
  width: 100%;
  background: white;
  z-index: 100;
  -webkit-box-shadow: 0 0 0.2rem gray;
  box-shadow: 0 0 0.2rem gray; }

nav {
  height: 6rem; }

.mb-icon {
  cursor: pointer; }

.manue.active {
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  visibility: visible; }

.manue {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 6rem);
  background: white;
  z-index: 99;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .manue li:nth-child(1) {
    margin-top: 4rem; }
  .manue li {
    margin-top: 2rem; }
  .manue li a {
    font-size: 1.7rem;
    padding: 0.5rem 1rem;
    color: #07001d;
    text-transform: capitalize; }

.home-content {
  gap: 1rem; }
  .home-content .btn-container {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr)); }

.about-info .paragraph {
  text-align: justify;
  padding: 0.5rem 0; }

.personal-info li {
  margin: 1rem 0 1rem 1rem;
  position: relative; }
  .personal-info li span {
    font-weight: bold;
    color: #010042;
    margin-right: 0.3rem; }
  .personal-info li::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: -1.5rem;
    margin-right: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #5363f7; }

.skill-progress:not(:first-child) {
  margin-top: 1rem; }

.progress-heading {
  margin-bottom: 0.5rem; }

.progress-bar {
  height: 1rem;
  background: #ebebeb;
  position: relative;
  border-radius: 1rem; }

.progress-presentage {
  font-weight: bold;
  top: -2rem;
  position: absolute;
  right: 0;
  color: #010042; }

.skill-progress:last-child {
  margin-bottom: 1rem; }

.setps {
  gap: 1rem; }

.step-heading {
  line-height: 4rem;
  font-size: 2rem; }

.step {
  gap: 1rem; }

.step-icon img {
  width: 4rem; }
