@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none;
  text-decoration: none; }

body, html {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 62%; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1rem; }

p, li, a, i, span {
  font-size: 1.6rem; }

.container {
  max-width: 112rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem; }

.d-grid {
  display: grid; }

.js-c {
  justify-content: center; }

.align-center {
  align-items: center; }

.align-content-center {
  align-content: center; }

.js-sb {
  justify-content: space-between; }

.js-sa {
  justify-content: space-around; }

.js-se {
  justify-content: space-evenly; }

.d-flex {
  display: flex; }

.flex-d-row {
  flex-direction: row; }

.flex-d-column {
  flex-direction: column; }

.flex-d-row-r {
  flex-direction: row-reverse; }

.flex-d-column-r {
  flex-direction: column-reverse; }

.mobile-icon {
  position: relative;
  width: 3rem;
  height: 0.34rem;
  background: #07001d; }
  .mobile-icon::before, .mobile-icon::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #07001d;
    transition: all 0.5s ease-in-out; }
  .mobile-icon::before {
    transform: translateY(-1rem); }
  .mobile-icon::after {
    transform: translateY(1rem); }
  .mobile-icon.active {
    background: transparent; }
    .mobile-icon.active::before {
      transform: rotate(45deg); }
    .mobile-icon.active::after {
      transform: rotate(-45deg); }

header {
  width: 100%; }

nav {
  height: 6rem; }

.mobile-icon.active + .manue {
  display: block; }

.manue {
  display: none;
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 6rem);
  background: white;
  z-index: 99;
  text-align: center; }
  .manue li:nth-child(1) {
    margin-top: 4rem; }
  .manue li {
    margin-top: 2rem; }
  .manue li a {
    font-size: 1.7rem;
    padding: 0.5rem 1rem;
    color: #07001d;
    text-transform: capitalize; }
