@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none;
  text-decoration: none; }

body, html {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 62%; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1rem; }

p, li, a, i {
  font-size: 1.6rem; }
