// ----------Nav-mobile-icon----------
.mobile-icon{
    cursor: pointer;
    position: relative;
    @include w-h(3rem,0.34rem);
    background: $black-shade;
    &::before,&::after{
        position: absolute;
        content: '';
        @include w-h(100%,100%);
        background: $black-shade;
        transition:  all 0.5s ease-in-out;
    }
    &::before{
        transform: translateY(-1rem);
    }
    &::after{
        transform: translateY(1rem);
    }
    &.active{
        background: transparent;
        &::before{
            transform: rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
        }
    }
}
// ----------Heading----------
.heading{
    margin: 2rem 0;
    text-transform: uppercase;
    position: relative;
    padding: 0.5rem 0;
    &::before{
        position: absolute;
        content: '';
        left: 50%;
        width: 3rem;
        height: 0.4rem; 
        z-index: 10;
        background: $primary;
        bottom: -0.1rem;
        transform: translateX(-50%);
        border-radius: 1rem;
    }
    &::after{
        position: absolute;
        content: '';
        left: 50%;
        width: 13rem;
        height: 0.1rem;
        background: $black-shade;
        bottom: 0;  
        transform: translateX(-50%);
    }
}
// ----------Paragraph----------

// ----------Icon----------
.social-media{
    max-width: 39rem;  
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    gap: .5rem;
    flex-wrap: wrap; 
    & a i{
        font-size: 1.8rem;
        width: 3.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
        text-align: center;
        background: $white;
        border-radius: 50%;
        color: $primary;
        margin-top: 0.2rem;
        border: 0.1rem solid $primary; 
        transition: all 0.5s ease-in;
        &:hover{
            background: $primary;
            color: $white; 
        }
    }
}
// ----------Button----------
.btn-primary-hire{
    display: inline-block;
    color: $white;
    background: $primary;
    // text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
}
// ----------Circle----------

// ----------Progress-bar----------
.progress{
    left: 0;
    width: 0;
    position: absolute;
    left: 0;
    background: $primary;
    width: 0;
    height: 100%;
    transform-origin: left;
    border-radius: 1rem;
    transition: all 3s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}
// ----------Portfolio-card----------
.portfolio-item{
    max-width: 30rem;
    width: 100%; 
}
.portfolio-img-container{
    position: relative;
    max-width: 30rem;
    width: 100%;
    height: 30rem;
}
.portfolio-contant{
    padding: 1rem; 
}
.portfolio-img{
    max-width: 30rem;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    cursor: pointer;
    & img{
        width: 100%;
        background-size: cover;
    }
}
.portfolio-img-content-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba($black-shade, 0.1);
}
.overlay-content{
    position: absolute;
    bottom: 5%; 
    left: 5%;
    background: $greay; 
    padding: 1rem; 
}
.ind-flex{
    gap: 1rem; 
}
.icon-content{
    gap: .5rem;
    align-items: center; 
   & *{
    // color: rgba($white, 0.8);  
    color: $white; 
   }
}
.content-hart{
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 4rem;
    height: 4rem;
    background: $white;
    font-size: 1.9rem; 
    line-height: 4rem;
    text-align: center; 
    border-radius: 50%; 
}
// ----------Portfolio-hover----------
.portfolio-img-overlay-hover{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    @include w-h(0,0);
    transform: scale(0);
    background: rgba($primary-code, 0.8); 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    & i{
        color: $primary; 
        width: 4rem;
        height: 4rem;
        background: $white;
        border-radius: 50%;
        text-align: center;
        line-height: 4rem;
    } 
}
.portfolio-img-container:hover > .portfolio-img-overlay-hover{
    transform: scale(1);
    @include w-h(100%,100%); 
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
}


