// ----------Nav-mobile-icon----------
.mobile-icon{
    cursor: pointer;
    position: relative;
    @include w-h(3rem,0.34rem);
    background: $black-shade;
    &::before,&::after{
        position: absolute;
        content: '';
        @include w-h(100%,100%);
        background: $black-shade;
        transition:  all 0.5s ease-in-out;
    }
    &::before{
        transform: translateY(-1rem);
    }
    &::after{
        transform: translateY(1rem);
    }
    &.active{
        background: transparent;
        &::before{
            transform: rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
        }
    }
}
// ----------Heading----------
.heading{
    margin: 2rem 0;
    position: relative;
    padding: 1rem 0;
    &::before{
        position: absolute;
        content: '';
        left: 50%;
        width: 4rem;
        height: 0.4rem; 
        z-index: 10;
        background: $primary;
        bottom: -0.23rem; 
        transform: translateX(-50%);
    }
    &::after{
        position: absolute;
        content: '';
        left: 50%;
        width: 10rem;
        height: 0.2rem;
        background: $black-shade;
        bottom: -0.1rem;  
        transform: translateX(-50%);
    }
}
// ----------Paragraph----------

// ----------Icon----------

// ----------Button----------
.btn-primary-hire{
    display: inline-block;
    color: $white;
    background: $primary;
    // text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
}
// ----------Circle----------

// ----------Progress-bar----------

// ----------Portfolio-card----------

// ----------Portfolio-hover----------





