.error-txt{
    margin-top: 0.4rem;
}
.success{
    padding: 1rem 0.3rem;
    color: $green;
    background: $white-shadow;
}
.error{
    padding: 1rem 0.3rem;
    color: $red;
    background: $white-shadow;
}