// Navigation-start
header{
    width: 100%;

}
nav{
    height: $nav-height;
}
.mobile-icon.active + .manue{
    display: block;
}
.manue{
    display: none;
    position: absolute;
    top: $nav-height;
    left: 0;
    width: 100%;
    height: calc(100vh - #{$nav-height});
    background: $white;
    z-index: 99;
    text-align: center;
    & li:nth-child(1){
        margin-top: 4rem; 
    }
    & li{
        margin-top: 2rem;
    }
    & li a{
        font-size: 1.7rem;
        padding: 0.5rem 1rem;
        color: $black-shade;
        text-transform: capitalize;
    }
}
// Navigation-end