// Navigation-start
.logo {
  color: transparent;
  @include prefixTs(0.1rem, $black-shade);
  & .logo-art {
    font-size: 3rem;
    @include prefixTtf($primary);
  }
}
header {
  height: $nav-height;
  width: 100%;
  background: $white;
  z-index: 100;
  @include bx-shadow(0, 0, 0.2rem, $greay);
}
nav {
  height: $nav-height;
}

// Navigation-end
// Home-start
.home-content {
  gap: 1rem;
  & .hero-img{
    width: 100%;
  }
  .home-content-box{
    text-align: justify;
  }
}
.contact-btn{
  color: $white; 
  background: $primary; 
  padding: 0.4rem 1rem;
  border-radius: .8rem; 
  font-weight: 500;
  font-size: 1.7rem;
  display: inline-block; 
  @media (max-width:944px){
    margin-top: 1rem; 
  }
}
// Home-end
// About-start
.about-info {
  & .paragraph {
    text-align: justify;
    padding: 0.5rem 0;
  }
}
.personal-info {
  & li {
    margin: 1rem 0 1rem 1rem;
    position: relative;
    & span {
      font-weight: bold;
      color: $blue-shade;
      margin-right: 0.3rem;
    }
    &::before {
      content: '';
      position: absolute;
      width: 1rem;
      height: 1rem;
      left: -1.5rem;
      margin-right: 1rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background: $primary;
    }
  }
}
.skill-progress{
  max-width: 45rem; 
}
.skill-progress:not(:first-child) {
  margin-top: 1rem;
}
.progress-heading {
  margin-bottom: 0.5rem;
}
.progress-bar {
  height: 1rem;
  background: $white-shade;
  position: relative;
  border-radius: 1rem;
}
.progress-presentage {
  font-weight: bold;
  top: -2rem;
  position: absolute;
  right: 0;
  color: $blue-shade;
}
.skill-progress:last-child {
  margin-bottom: 1rem;
}
.skill-accordion-heading{
  background: $primary; 
  color: $white; 
  padding: 1rem;
  cursor: pointer; 
  & *{ 
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);  
    -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);  
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}
.skill-accordion-body{
  opacity: 0;
  visibility: hidden; 
  max-height: 0;
  background: rgba($white-shade,0.3);  
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);  
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);  
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-bottom: 0.3rem;
  &.active-accrodion{
    opacity: 1;
    visibility: visible;
    max-height: 100%;
    padding: 1rem; 
  }
}
.skill-accordion-heading{
  &.active{
    & .fa-angle-down{
      -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
              transform: rotate(-180deg);
    }
  }
}
// About-end
// Step-Start
.setps {
  gap: 2.2rem;
}
.step-heading {
  line-height: 3rem;
  font-size: 2rem;
  color: $black-shade;
}
.step-content {
  & p {
    color: rgba($blue-shade-normal, 0.7);
    text-align: justify; 
    font-weight: 500; 
  }
}
.step {
  gap: 1rem;
}
.step-icon {
  & img {
    width: 4rem;
  }
}
// Step-End
// Portfolio-start
.portfolio-items {
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2rem;
}
.portfolio-item {
  @include bx-shadow(0, 0, 0.5rem, rgba($greay, 0.3));
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  overflow: hidden;
  @media (min-width: 450px) {
    margin-right: 1rem;
  }
}
.portfolio-item.show {
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.portfolio-item.hide {
  padding: 0;
  width: 0;
  height: 0;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.protfolio-links {
  & .protfolio-link {
    margin: 1rem 0;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    @media (min-width:450px){
      display: inline-block; 
      padding: 0 1rem; 
    }
  }
  & .protfolio-link:last-child {
    margin-bottom: 1rem;
  }
}
.protfolio-link.active {
  color: $primary;
  font-weight: bold;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -0.7rem;
    @include w-h(0.6rem, 0.6rem);
    @include b-r50();
    background: $primary;
  }
}
// Portfolio-end
// What-i-do-start
#ido {
  margin-bottom: 2rem;
}
.what-do-item {
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, (minmax(30rem, 1fr)));
  & .what-do {
    text-align: center;
    @include bx-shadow(0, 0, 0.7rem, $white-shade);
    padding: 1.5rem;
    & * {
      padding: 0.5rem 0;
      -webkit-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in;
    }
    & .subheading {
      color: $blue-shade;
    }
    & .paragraph {
      text-align: justify;
    }
    &:hover i,
    &:hover .subheading {
      color: $primary;
    }
  }
}
// What-i-do-end
// testimonial-start
.testimonial-slider-container {
  height: 30rem;
  padding: 1rem 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  & .testimonial-slider-controler .fa-angle-left,
  & .testimonial-slider-controler .fa-angle-right {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
  }
  & .testimonial-slider-controler .fa-angle-right {
    right: 1rem;
  }
}
.testimonial-slider {
  width: 300%;
  height: 100%;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  & .testimonial-slider-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.client-image {
  width: 10rem;
  height: 10rem;
  @include b-r50();
}
// testimonial-end
// Blog-start
.blog-container {
  grid-template-columns: repeat(auto-fill, (minmax(30rem, 1fr)));
}
.Blog {
  padding: 2rem 0;
}
.blog-items {
  padding: 1rem;
  @include bx-shadow(0, 0, 0.4rem, $white-shadow);   
  border-radius: 0.5rem;
  position: relative; 
  & img {
    width: 100%;
  }
  & .date {
    background: $white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 5%; 
    left: 10%;
    text-align: center;
    color: $black-shade;
    font-weight: 500; 
    font-size: 1.6rem;
  }
}
.blog-content {
  margin: 1rem 0;
}
.blog-heading {
  margin-top: 1rem;
  font-size: 2.3rem;
  color: rgba($black-shade, 0.9); 
}
.blog-content{
  & p{
    text-align: justify; 
  }
}
.blog-btn {
  background: $blue-dark;
  color: $white;
  padding: 0.4rem 1rem;
  margin: 1rem 0;
  display: inline-block;
  border-radius: 0.5rem;
}
// Blog-end
// Footer-start
.footer{
  background: $blue-shade;
  padding: 2rem 0;
  & *{
    color: $white; 
  }
  .footer-container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    @media (min-width:450px) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; 
    }
  }
  .footer-item-copyright{
    gap: 2rem; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    @media (min-width:450px){
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
  }
  .footer-social{
    & a i{
      width: 3.5rem; 
      height: 3.5rem; 
      line-height: 3.5rem; 
      text-align: center; 
      font-size: 2rem;  
      background: darken($black,0.5);   
      @include b-r50();
    }
  }
}
// Footer-end
// Contact-form-desing-start
.contact-btn{
  cursor: pointer; 
}
.contact{
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; 
  -webkit-box-orient: vertical; 
  -webkit-box-direction: normal; 
      -ms-flex-direction: column; 
          flex-direction: column;
  background: rgba($white-shade, 0.5); 
  -webkit-backdrop-filter: blur(.7rem); 
          backdrop-filter: blur(.7rem);
  -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.contact.active-contact{
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.contact-container{
  background: $white; 
  padding: 1rem;
  width: 35rem;  
  border-radius: 0.4rem; 
  .fa-times{
    float: right; 
    @include b-r50();
    text-align: center;
    @include w-h(3rem,3rem);
    line-height: 3rem;
    color: $blue-dark; 
    cursor: pointer; 
  }
  & #contact-form{
    display: block; 
    margin-top: 1.5rem; 
    & .form-container{
      margin-bottom: 1rem;  
      gap: 0.5rem;  
      display: -webkit-box;  
      display: -ms-flexbox;  
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    & input{
      padding: 0.3rem 0.5rem;
      border: 0.1rem solid $greay;
    }
    & textarea{
      width: 100%;
      resize: none; 
      margin-top: 1rem;
      margin-bottom: 1rem; 
      border: 0.1rem solid $greay;
      padding: 0.3rem 0.3rem;
      height: 10rem; 
      &::-webkit-scrollbar{
        width: 0.6rem; 
      }
    }
    & .submit{
      display: block; 
      background: $primary; 
      color: $white; 
      border: none; 
      outline: none;
      cursor: pointer;
      padding: 0.7rem 1rem;
      font-weight: bold;
      border-radius: .3rem; 
    }
  }
}
// Contact-form-desing-end