// Navigation-start
.logo{
    color: transparent;
    @include prefixTs(0.1rem,$black-shade);
    & .logo-art{
        font-size: 3rem;
        @include prefixTtf($primary);
    }
}
header{
    height: $nav-height;
    width: 100%;
    background: $white;
    z-index: 100;
}
nav{
    height: $nav-height;
}
.mobile-icon.active + .manue{
    display: block;
    left: 0;
    transition: left 0.5s ease-in;
}
.manue{
    display: none;
    position: absolute;
    top: $nav-height;
    left: 100%;
    width: 100%;
    height: calc(100vh - #{$nav-height});
    background: $white;
    z-index: 99;
    text-align: center;
    transition: left 0.5s ease-in;
    & li:nth-child(1){
        margin-top: 4rem; 
    }
    & li{
        margin-top: 2rem;
    }
    & li a{
        font-size: 1.7rem;
        padding: 0.5rem 1rem;
        color: $black-shade;
        text-transform: capitalize;
    }
}
// Navigation-end