@media (max-width:500px){
    .contact-container{
        background: $white; 
        padding: 1rem;
        width: 29rem;
    }
    .social-media{
        max-width: 29rem;  
    }
    #contact-form{
        & input{
            padding: 0.2rem 0.5rem !important;
        }
        & #message{
            height: 5rem;
        }
    }
    
}