@media (min-width:945px){
    .manue{
        opacity: 1;
        visibility: visible; 
        & li{
            display: inline-block;
            margin-right: 1rem;
            & a{
                color: $black-shade;
            }
        }
    }
    .mb-icon{
        display: none;
    }
}
@media (max-width:944px) {
    .mb-icon {
        cursor: pointer;
      }
      .manue.active {
        left: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        opacity: 1;
        visibility: visible;
      }
      .manue {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: $nav-height;
        left: 0;
        width: 100%;
        height: calc(100vh - #{$nav-height});
        background: $white;
        z-index: 99;
        text-align: center;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        & li:nth-child(1) {
          margin-top: 4rem;
        }
        & li {
          margin-top: 2rem;
        }
        & li a {
          font-size: 1.7rem;
          padding: 0.5rem 1rem;
          color: $black-shade;
          text-transform: capitalize;
        }
      }
}