@mixin b-r50() {
  border-radius: 50%;
}
@mixin w-h($w, $h) {
  width: $w;
  height: $h;
}
@mixin bg_rgba($r, $g, $b, $a) {
  background: rgba($r, $g, $b, $a);
}
@mixin rgba($c, $a) {
  background: rgba($c, $a);
}
@mixin prefixTs($w, $c) {
  -webkit-text-stroke-width: $w;
  -moz-text-stroke-width: $w;
  -ms-text-stroke-width: $w;
  -o-text-stroke-width: $w;
  -webkit-text-stroke-color: $c;
  -moz-text-stroke-color: $c;
  -ms-text-stroke-color: $c;
  -o-text-stroke-color: $c;
}
@mixin prefixTtf($c) {
  -webkit-text-stroke-color: $c;
  -moz-text-stroke-color: $c;
  -ms-text-stroke-color: $c;
  -o-text-stroke-color: $c;
  -webkit-text-fill-color: $c;
  -moz-text-fill-color: $c;
  -ms-text-fill-color: $c;
  -o-text-fill-color: $c;
}
@mixin prefixTf($t, $s, $e) {
  -webkit-transform: $t #{$s}s $e;
  -ms-transform: $t #{$s}s $e;
  transform: $t #{$s}s $e;
}
@mixin prefixT($t, $s, $e) {
  -webkit-transition: $t #{$s}s $e;
  -o-transition: $t #{$s}s $e;
  transition: $t #{$s}s $e;
}
@mixin bx-shadow($h, $v, $b, $c) {
  // h-offset v-offset blur spread color
  -webkit-box-shadow: $h $v $b $c;
  box-shadow: $h $v $b $c;
}
