$font-primary:'Rubik', sans-serif;
$font-secondry:'Poppins', sans-serif;
$primary:rgb(83, 99, 247);
$primary-code:#5363f7;
$white:rgb(255, 255, 255);
$white-shade:rgb(235, 235, 235);
$black:rgb(0, 0, 0);
$black-shade:rgb(7, 0, 29);
$blue-shade:rgb(1, 0, 66);
$greay:rgb(128, 128, 128);
$container:112rem;
$nav-height:6rem;
