$font-primary:'Rubik', sans-serif;
$font-primary:'Rubik', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: ;
$primary:rgb(83, 99, 247);
$white:rgb(255, 255, 255);
$black:rgb(0, 0, 0);
$greay:rgb(128, 128, 128);

