$font-primary:'Rubik', sans-serif;
$font-secondry:'Poppins', sans-serif;
$primary:rgb(83, 99, 247);
$white:rgb(255, 255, 255);
$black:rgb(0, 0, 0);
$greay:rgb(128, 128, 128);
$container:112rem;
$nav-height:6rem;
